<div class="detail-container">
	<h4>{{details.name}}</h4>
	<ul class="list-group">
 		<li class="list-group-item"><label>Product ID: </label> {{details.id}} </li>
 		<li class="list-group-item"><label>Product Name: </label> {{details.name}} </li>
 		<li class="list-group-item"> <label>Manufacturer: </label> {{details.mfg}} </li>
 		<li class="list-group-item"><label>Quantity: </label> {{details.qty}} </li>
 		<li class="list-group-item"><label>Pack Size: </label> {{details.pkg}} </li>
	</ul> 
</div>
