h4{
	font-family: Georgia, Times, "Times New Roman", serif;
}

.list-group-item{
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 18px;
}